<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.3/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.3/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/javascripts/jquery-easyui-1.5.3/demo/demo.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-easyui-1.5.3/jquery.easyui.min.js"></script>
</head>
<body>
</body>
</html>