<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <style>
        *{
            padding:0;
            margin:0;
        }
        input{
            outline:0;
        }
        a{
            text-decoration: none;
        }
        body,html,#bg{
            height:100%;
        }
        #bg{
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #1a226b, #9a6d8c);
            /* Safari 4-5, Chrome 1-9 */
            /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
            background: -webkit-gradient(linear,top,from(#1a226b),to(#9a6d8c));
            /* Safari 5.1+, Chrome 10+ */
            background: -webkit-linear-gradient(top, #1a226b, #9a6d8c);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #1a226b, #9a6d8c);
        }
        .hidden{
            height:1px;
        }
        .center{
            width:380px;
            height:230px;
            padding:60px;
            margin:160px auto;
            border:1px solid #999;
            border-radius: 10px;
            background: rgba(222,222,222,.1);
            position: relative;
        }
        .center .front{
            position:absolute;
            top:-30px;
            left:80px;
            height:60px;
            width:340px;
            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, #d174a0, #e06380);
            /* Safari 4-5, Chrome 1-9 */
            /* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
            background: -webkit-gradient(linear,top,from(#d174a0),to(#e06380));
            /* Safari 5.1+, Chrome 10+ */
            background: -webkit-linear-gradient(top, #d174a0, #e06380);
            /* Opera 11.10+ */
            background: -o-linear-gradient(top, #d174a0, #e06380);
            text-align: center;
            line-height: 60px;
            color:#fff;
            font-size: 26px;
            z-index: 1;
        }
        .center .back{
            position:absolute;
            top:-116px;
            left:54px;
            height:60px;
            width:340px;
            border: 26px solid rgba(0,0,0,0);
            border-bottom:29px solid #803155;
        }
        input#user,input#psw{
            width:320px;
            height:60px;
            margin-bottom:30px;
            background:rgba(222,222,222,0) url(images/icon.png) 20px 18px no-repeat;
            border-radius: 6px;
            border: 2px solid rgba(200,200,200,.1);
            padding-left: 60px;
            font-size: 16px;

        }
        input#psw{
            background-position: 23px -115px;
        }
        .button,.toRegister{
            overflow: hidden;
        }
        .button{
            margin-bottom: 10px;
        }
        .button input{
            float:right;
            width: 100px;
            height: 40px;
            font: 20px/40px "";
            -webkit-appearance:button;
            display: inline-block;
            border-radius: 4px;
            border: 0;
            background: #c16491;
            color: #ccc;
            cursor: pointer;
        }
        .toRegister a{
            float:right;
        }
        .footer{
            position:absolute;
            bottom:0;
            right:0;
            left:0;
            height:60px;
            background:rgba(222,222,222,.2);
            text-align: center;
            line-height: 60px;
        }
    </style>
  </head>
  <body>
    <div id="bg">
        <div class="hidden"></div>
        <div class="center">
            <div class="front">
                新闻管理平台登录系统
            </div>
            <div class="back"></div>
            <form action="/users/loginAction" method="get">
                <label for="user"></label><input type="text" id="user" name="user" placeholder="请输入用户名">
                <br>
                <label for="psw"></label><input type="password" id="psw" name="psw" placeholder="请输入密码">
                <div class="button">
                    <input type="submit" value="登录" id="login">
                </div>
                <div class="toRegister">
                    <a href="/register">还未注册？</a>
                </div>
            </form>
        </div>
        <div class="footer">
            &copy;&emsp;SethVoler作品
        </div>
    </div>
    <script>

    </script>
  </body>
</html>